{% extends 'base.html.twig' %}

{% block title %}Configuración de aplicaciones y categorías {{ controller_name }}{% endblock %}

{% block body %}

	<div>
		<div>
			<div>
				<h2>Configuraciones de categorias y aplicaciones</h2>

				{% if applications is defined %}
                    <div>
                        {% for application in applications %}
                        	

                            <div>
                                <span title="{{ application.appName }}">{{ application.appName }}</span>
                            </div>                               
                        {% endfor %}
                    </div>
                {% endif %}
			</div>
		</div>
	</div>

{% endblock %}
