<div class="navigation-task-container text-black-50">
    <div>
        <span> Nombre de tarea </span>
        <span> - </span>
        <span> Trabajo </span>
        <span> - </span>
        <span> 3/5 </span>
    </div>
    <div class="d-flex justify-content-around align-items-center">
        <span class="navigation-task-clock" title="Tiempo restante">21:22</span>
        <div class="navigation-task-button-container d-flex justify-content-between">
            <a href="#" title="Iniciar/reanudar tarea">
                <img src="/build/assets/img/buttons/play.svg" class="navigation-task-button">
            </a>
            <a href="#" title="Pausar tarea">
                <img src="/build/assets/img/buttons/pause.svg" class="navigation-task-button">
            </a>
            <a href="#" title="Detener tarea">
                <img src="/build/assets/img/buttons/stop.png" class="navigation-task-button">
            </a>
        </div>
    </div>
</div>