{% extends "base.html.twig" %}

{% block body %}
    <div class="login-form-container d-flex justify-content-center align-items-center">
        <div class="row">
            <div class="login-box shadow p-3 mb-5 bg-white rounded border-top">
                <h2 class="text-center text-primary text-soft"> Iniciar sesión </h2>

                <form action="{{ path('login') }}" method="POST"
                      class="login-form position-relative">
                    <div class="col-md-9 mx-auto position-relative">
                        <div class="form-group">
                            <label for="email" class="text-soft">Email</label>
                            <input type="text" class="form-control" id="email" name="_username"
                                   value="{{ last_username }}">
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-soft">Contraseña</label>
                            <input type="password" class="form-control" id="password" name="_password">
                        </div>

                        {% if error %}
                            <div class="text-center text-danger position-absolute login-error-message">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        <button type="submit" class="btn btn-primary btn-block login-submit-btn">INGRESAR</button>
                    </div>
                    <div class="text-center mt-4 text-secondary text-soft">Si olvidaste tu contraseña haz click <a href="#"
                                                                                                    class="text-dark"><u>aquí</u></a>
                        para recuperarla.
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

