.app-times-report-box {
    height: auto;
    width: 490px;
    border-radius: 10px;
}

.app-times-report-period {
    font-size: 13px;

    &.active {
        border-bottom: 2px solid #dc3545;
        border-radius: 2px;
    }
    &:hover {
        text-decoration: none;
    }
}

.app-times-report-type {
    &.active {
        border-bottom: 2px solid #dc3545;
        border-radius: 2px;
    }
    &:hover {
        text-decoration: none;
    }
}