@import "~bootstrap/scss/bootstrap";

body, html {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

.page-item.active .page-link {
  color: unset;
  background-color: unset;
  border-color: #dc3545;
}

.page-link {
  color: #dc3545;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: #dc3545;
}

.popover-header {
  color: #ffffff !important;
  background-color: #3083c9 !important;
}
