.email-report-container {
    height: 100%;
}

.email-report-box {
    height: auto;
    width: 1024px;
    border-radius: 10px;
}

.email-report-pomodoros-box {
    height: 400px;
    width: 600px;
    border-radius: 80px;
    border: 1px solid #000000;
}

