@import './navigation.scss';
.login-form-container {
  height: calc(100% - #{$navigation-height});
}

.login-box {
  height: 390px;
  border-radius: 10px;
}

.login-form {
  top: 25px;
}

.login-submit-btn {
  margin-top: 40px;
}

.login-error-message {
  left: 0;
  right: 0;
  width: 100%;
}

.login-input-error {
  top: 75px;
}

.parsley-errors-list {
  position: absolute;
  top: 71px;
}

.login-forgot-password-text {
  font-size: 14px;
}