@import './navigation.scss';
.my-tasks-form-container {
  height: calc(100% - #{$navigation-height});
}

.my-tasks-box {
  width: 750px;
  padding: 25px 25px 3px 25px;
  border-radius: 10px;
}

.my-tasks-input-error {
  top: 75px;
}

.my-tasks-input {
  margin-bottom: 5px;
  width: 220px;
}

.my-tasks-already-has-account-message {
  position: relative;
  top: 20px;
}

.my-tasks-filter-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.my-tasks-filter {
  &.active {
    border-bottom: 3px solid var(--blue);
  }
  &:hover {
    text-decoration: none;
  }
}

.my-tasks-select-sort {
  width: 210px;
}

.my-tasks-task-container {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.my-tasks-task-section {
  margin: 30px 0;
}

.my-tasks-action-buttons-container {
  width: 70px;
  flex-grow: 0.15;
}

.my-tasks-task-name {
  width: 240px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 500;
}

.my-tasks-action-button {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.my-tasks-empty-message {
  width: 100%;
  text-align: center;
}

.my-tasks-pomodoros {
  width: 70px;
}

.my-tasks-task-state {
  width: 75px;
}