.navigation-task-container {
  width: 230px;
}

.navigation-task-button-container {
  width: 110px;
}

.navigation-task-clock {
  font-size: 26px;
}

.navigation-task-button {
  height: 25px;
  width: 25px;
}
