@import './navigation.scss';
.registration-form-container {
  height: calc(100% - #{$navigation-height});
}

.registration-box {
  width: 620px;
  padding: 25px;
  border-radius: 10px;
}

.registration-form {
  top: 25px;
}

.registration-form-group {
  margin-bottom: 17px;
}

.registration-submit-btn {
  margin-top: 25px;
  width: 220px;
}

.registration-error-message {
  left: 0;
  right: 0;
  width: 100%;
}

.registration-input-error {
  top: 75px;
}

.registration-input {
  margin-bottom: 5px;
  width: 220px;
}

.registration-already-has-account-message {
  position: relative;
  top: 20px;
}

.registration-input-help {
  font-size: 14px;
}
