{% extends "base.html.twig" %}

{% block body %}
    <div class="container email-report-container mt-5">
        <div class="position-relative pt-3 email-report-box">
            <div class="d-flex justify-content-around align-items-baseline mb-4"> 
                <h2 class="font-weight-light pl-5"> Mi Tiempo y Mis Tomates </h2>
                <h5 class="font-weight-light pl-5"> Su reporte para la semana de Noviembre 11, 2018 </h3>
            </div>
            
            <div class="align-items-center d-flex email-report-pomodoros-box flex-column mt-3 w-100 ">
                <div class="d-flex justify-content-around w-100 mt-3">
                    <div class="d-flex flex-column align-items-center">
                        <div> Esta semana usted realizo </div>
                        <h1 class="my-0"> 12 </h4>
                        <div> Pomodoros </div>
                    </div>

                     <div class="d-flex flex-column align-items-center">
                        <div> Estuviste conectado durante </div>
                        <h1 class="my-0"> 6h 25m </div>                    
                    </div>               

                <div class="mt-5"> 
                    <ul class="list-unstyled position-relative">
                        <li class="position-relative mb-2"> Estudiar para examen de Mate 
                            <div class="email-report-pomodoro-count bg-danger position-absolute"> 
                            2
                            </div>
                        </li> 
                             
                        <li class="position-relative mb-2"> Escribir tests de prueba
                            <div class="email-report-pomodoro-count bg-danger position-absolute"> 
                            5
                            </div>
                        </li> 

                        <li class="position-relative mb-2"> Redactar informe 
                            <div class="email-report-pomodoro-count bg-danger position-absolute"> 
                            3
                            </div>
                        </li> 

                        <li class="position-relative mb-2"> Analizar requisitos de Sprint
                            <div class="email-report-pomodoro-count bg-danger position-absolute"> 
                            1
                            </div>
                        </li> 

                        <li class="position-relative mb-2"> Realizar mockups
                            <div class="email-report-pomodoro-count bg-danger position-absolute"> 
                            1
                            </div>
                        </li>                     
                    <ul>
                </div>
                </div>
            </div>

            <div class="d-flex justify-content-around mt-5">
                <div> 
                    <div class="font-weight-bold mb-3"> La mayor parte de su tiempo la utilizo en: </div>
                        <ul class="list-unstyled position-relative d-flex flex-column">
                            <div>
                                <div class="email-report-category-percentage d-inline-block mr-4 bg-danger"> 50% </div>
                                <li class="position-relative d-inline-block mb-2">  Desarrollo de Software  </li>  
                            </div>   

                            <div>
                                <div class="email-report-category-percentage d-inline-block mr-4 bg-primary"> 20% </div>
                                <li class="position-relative d-inline-block mb-2">  Diseño  </li>  
                            </div>

                            <div>
                                <div class="email-report-category-percentage d-inline-block mr-4 bg-info"> 15% </div>
                                <li class="position-relative d-inline-block mb-2">  Noticias </li>  
                            </div>

                            <div>
                                <div class="email-report-category-percentage d-inline-block mr-4 bg-success"> 10% </div>
                                <li class="position-relative d-inline-block mb-2">  Comunicación y Planificación  </li>  
                            </div>

                            <div>
                                <div class="email-report-category-percentage d-inline-block mr-4 bg-warning"> 5% </div>
                                <li class="position-relative d-inline-block mb-2">  Entretenimiento  </li>  
                            </div>               
                        <ul>
                    </div>
                     <div class="email-report-separator-line"></div>
                     <div>
                    <div class="font-weight-bold mb-3"> Aplicaciones que más utilizó: </div>
                        <ul class="list-unstyled position-relative d-flex flex-column">
                            <div>
                                <div class="email-report-category-percentage d-inline-block mr-4 bg-danger"> 5h</div>
                                <li class="position-relative d-inline-block mb-2">  Sublime </li>  
                            </div>   

                            <div>
                                <div class="email-report-category-percentage d-inline-block mr-4 bg-danger"> 4h </div>
                                <li class="position-relative d-inline-block mb-2">  VSCode </li>  
                            </div>

                            <div>
                                <div class="email-report-category-percentage d-inline-block mr-4 bg-info"> 3h </div>
                                <li class="position-relative d-inline-block mb-2">  Google Chrome </li>  
                            </div>

                            <div>
                                <div class="email-report-category-percentage d-inline-block mr-4 bg-warning"> 2h </div>
                                <li class="position-relative d-inline-block mb-2">  Spotify </li>  
                            </div>

                            <div>
                                <div class="email-report-category-percentage d-inline-block mr-4 bg-warning"> 1h </div>
                                <li class="position-relative d-inline-block mb-2">  Facebook  </li>  
                            </div>               
                        <ul>
                        </div>
                    </div>
                </div>
                   
            </div>
        </div>
    </div>
        
{% endblock %}


