{% extends "base.html.twig" %}

{% block body %}
    <div class="jumbotron">

        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
            <h1 class="display-4">¡Bienvenido a Mi Tiempo y Mis Tomates!</h1>

            <p class="lead">Te ayudamos a mejorar tu productividad midiendo el tiempo que usas cada aplicación o página
                web.</p>
            <hr class="my-4">
            <p>Para esto te proporcionaremos un programa para tu ordenador que medirá el uso.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Mas información</a>
            </p>
        {% endif %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <h1 class="display-5">¡Bienvenido a Mi Tiempo y Mis Tomates {{ app.user.firstName }} {{ app.user.lastName }}!</h1>

            <p class="lead">Te ayudamos a mejorar tu productividad midiendo el tiempo que usas cada aplicación o página web.</p>
            <hr class="my-4">
        {% endif %}

    </div>
{% endblock %}


