{% extends "base.html.twig" %}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-4">¡Bienvenido a Mi Tiempo y Mis Tomates!</h1>
        <p class="lead">Te ayudamos a mejorar tu productuvidad midiendo el tiempo que usas cada aplicación o web.</p>
        <hr class="my-4">
        <p>Para esto te proporcionaremos un programa para tu ordenador que medirá el uso.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Mas información</a>
        </p>
    </div>
{% endblock %}


