{% extends "base.html.twig" %}

{% block body %}
    <div class="jumbotron">

             <h2 class="display-5">Instala la aplicación de Mi tiempo y mis tomates para comenzar a registrar automaticamente el uso de aplicaciones</h2>

             <hr class="my-4">
             
             <p class="lead">Mi tiempo y mis tomates registra de forma automática los sitios web y las aplicaciones en las que pasas tiempo. De esta forma se ahorra el trabajo de ingresar esta información de forma manual. Instala la aplicación haciendo click en el botón de abajo </p>

            <p class="lead">
                <a class="btn btn-primary" href="#" role="button">Descargar aplicación</a>
            </p>
    </div>
{% endblock %}


