{% extends "base.html.twig" %}

{% block body %}
    <div class="jumbotron">

             <h2 class="display-5">Instale la aplicación de Mi Tiempo y Mis Tomates para comenzar a incrementar su productividad.</h2>

             <hr class="my-4">
             
             <p class="lead">Mi Tiempo y Mis Tomates registra de forma automática los sitios web y las aplicaciones en las que pasas tiempo, permitiendo luego generar reportes sobre su productividad. </p>

            <p class="lead">
                <a class="btn btn-primary" href="#" role="button">Descargar aplicación</a>
            </p>
    </div>
{% endblock %}


